/*
* {
	color: #000000;
	font-size: 14px;
	
}
*/

body {
	background: #dddddd;
	color: rgb(84, 28, 24);
	margin: 0px;
	padding: 0px;
}

p {
	font-size: 25px;
}

/* Оформление меню */
#menu1 {
	width: auto;
	display: block;
	margin: 0 auto 4px;
}

header {
	background: #aaaaaa;
	border-bottom: 4px solid #ffab51;
	margin: 0px;
	padding: 0px;
}

#menu1 ul {
	list-style: none;
	display: flex;
	margin: 0px;
	padding: 5px;
	padding-left: 0;
}

#menu1 ul li {
	width: 175px;
	height: 35px;
	font-size: 28px;
	border-right: 4px solid #ffab51;
	text-align: top;
	vertical-align: middle;
	margin: 5px;
	background: #aaaaaa;
	transition: 0.5s;
	display: inline-block;
}

#menu1 ul li a {
	text-decoration: none;
}

#menu1 ul li:hover {
	background: #777777;
}

h1 { color: #000000; }
h2, h3, h4, h5, h6 { color: #1f3036; }

/* Свойства для абзацев */


/* ОБращение к id */
#p1 {
	/* нужен для отобращение пробелов между словами
	normal | nowrap | pre | pre-line | pre-wrap
	pre-wrap - сохраняем все пробелы и переносы. но если строка не помещается, то текст автоматически будет перенесен
	nowrap не учитывать пробелы и переносы */
	white-space: normal;
	/* word-break - перенос слов внутри строк
	normal | break-all - добавляет перено строк так, чтобы слово поместилось в заданную ширину | keep-all 
	keep-all - запрещает перенос слов */
	word-break: break-all;
	width: 200px;
}

#p2 {
	white-space: pre; /* отображение с учетом всех переносов и пробелов */
	/* horizontal-tb - горизонтальная сверху вниз
	vertical-lr - вертикальная сверху вниз с лево на право
	vertical-rl - вертикальная сверху вниз с права на лево */
	writing-mode: horizontal-tb;
}

/* ОБращение к class */
.p3 {
	white-space: pre-line; /* не учитывать пробелы, перенести текст на следующую строку */
	writing-mode: vertical-lr;
}
