body {
	background: #cccccc;
}

h1 {
	margin: 0px;
}

ul {
	list-style-type: none;
	padding-left: 0px;
}

li { /* задаем стандартную заливку фона строки */
	background: rgb(15, 188, 232);
	padding: 5px;
	padding-left: 10px;
}

li::before { /* устанавливаем нужный символ вместо маркера */
	content: '☐';
	margin-right: 10px;
}

#x1 { /* блок с отступом 5 со всех сторон */
	padding: 5px;
}

#x2 { /* строка с серым фоном*/
	background: #aaaaaa;
}

#x2::before { /* изменяем значек маркера*/
	content: '🗹';
}

#x3 { /* текст темно красного цвета */
	padding-left: 10px;
	color: rgb(128, 0, 0);
}

#x4 { /* строка с темно синим фоном*/
	background: rgb(0, 128, 192);
}

#x5 { /* зачеркнутый шрифт*/
	text-decoration: line-through;
}
